body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 200px;
    background-color: #575757;
}

.special {
    color:azure;
}

header {
    background-color: #333;
    color: azure;
    text-align: center;
    border: 5px dotted black;
    padding: 20px;
}

.sidebar {
    width: 150px;
    background-color: #333;
    color: azure;
    height: 100%;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    border:10px;
}

.sidebar a {
    display:block ;
    text-decoration: none;
    padding: 10px;
    color: azure;
}

.sidebar a:hover {
    background: #575757;
}

footer{
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(61, 59, 59);
  color: aliceblue;
}
.container{
  display: flex;
  width:500px;
  margin: 10px;
  margin: 15px;
  padding: 15px;
  background-color: azure;
  text-align: center;
}

img{
   height: 200px;
   width: 250px;
   border-radius: 15px;
   border: 5px #575757;
}

.option {
    color: beige;
}
